body {
    background-color: rgb(181, 181, 181);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 20px;
}

fieldset {
    padding: 20px;
    display: flex;
    gap: 20px;
}