.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    cursor: pointer;
    width: 100%;
    transition: .3s;
}

.btn:hover {
    filter: brightness(0.9);
    transform: translateY(-2px);
}

.btn-primary {
    background-color: var(--cor-azul);
    color: #fff;
}

.btn-buscar i
{
    color: white;
}